@model IEnumerable<Domain.Model.Entities.AlbumHistoricoEntity>

@{
    ViewData["Title"] = "Logs";
}

<div class="content-top">
    <div class="col-md-7 content-top1">
        <h1>Logs</h1>
    </div>
    <div class="col-md-5 top-col">
        <form asp-action="Logs">
            <select name="pesquisa">
                <option class="control-label" value="">Selecione um item</option>
                <option class="form-control" value="insert">Insert</option>
                <option class="form-control" value="update">Update</option>
                <option class="form-control" value="delete">Delete</option>
            </select>
            <input class="btn btn-primary" type="submit" value="Consultar"/>
            <a class="btn btn-default" asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
<div class="content-mid">
    <div class="col-xl-12 mid">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataLancamento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Remasterizado)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataLancamento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remasterizado)
                            </td>
                            <td>
                            </td>
                        </tr>

                    }
            </tbody>
        </table>
    </div>
</div>
